<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @{Html.RenderAction("Header", "Home");}
    <div class="container body-content" id='main'>
        
        <nav>
            @RenderSection("SideMenu", required: false)
            @Html.Partial("_Upgrade", "")
            @Html.Partial("_Statisfaction", "")

            @Html.Partial("_Buzz", "")
            @Html.Partial("_Article", "")
            @Html.Partial("_FromForum", "")
        </nav>
        <Content>@RenderBody()</Content>
        <aside>
            @RenderSection("Logo", required: false)

        </aside>
       
        
        <hr />
       
    </div>
   
 <footer style="background-color: #f6f6f6;">
     @{Html.RenderAction("Footer", "Home");}
 </footer>
        
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
