@using EZLF.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                 <!-- start Sign Box -->
                <div class="sign-box login-form">
                    <h1>Log In to Your Account</h1>
                    <div class="row login-form-row">
                        <div class="col-sm-7 login-form-col account-information">
                            <h3>Account Information</h3>
                            <form id="log-in-form" action="" data-toggle="validator" role="form">
                                <fieldset>
                                    <div class="form-group clearfix">
                                        <label class="control-label" for="login-email-address">Email Address:</label>
                                        @Html.TextBoxFor(m => m._UserName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m._UserName, "", new { @class = "text-danger" })
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="control-label" for="login-password">Password:</label>
                                        <div class="input-holder">
                                            @Html.PasswordFor(m => m._Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m._Password, "", new { @class = "text-danger" })
                                            <span data-cloud9-id="96" class="password-icon">
                                                <i data-cloud9-id="97" class="fa fa-eye" aria-hidden="true"></i>
                                            </span>
                                            <input id="pass" id="login-password" class="password form-control" type="password" name="Password" minlength="8" placeholder="********" data-error="That password is invalid" required="">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="custom-forms form-group">
                                        @Html.CheckBoxFor(m => m._RememberMe)
                                        <label for="remember-me-on-computer">Remember me on this computer</label>

                                    </div>

                                    <div class="form-group login-btn">
                                        <span class="icon icon-lock"></span>
                                        <input type="submit" class="btn btn-blue-shaded" value="SECURE LOG IN">
                                    </div>

                                    <div class="form-group">
                                        <a href="#" class="forgot-password">FORGOT YOUR PASSWORD?</a>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                        <div class="col-sm-5 login-form-col quick-sign">
                            <h3>Quick sign up</h3>
                            <div class="sign-button-box">
                                <div class="button-box">
                                    <span class="icon">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-square-o fa-stack-1x"></i>
                                            <i class="fa fa-facebook fa-stack-2x"></i>
                                        </span>
                                    </span>
                                    <input type="submit" class="btn btn-facebook" value="Login with facebook">
                                </div>
                                <div class="button-box">
                                    <span class="icon"><i class="fa fa-google" aria-hidden="true"></i></span>
                                    <input type="submit" class="btn btn-google" value="Login with google">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- end Sign Box -->
             
             
            }
  

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@